<div class="wrapper">
  <div class=" all-buckets-and-btn">
    <span>All Buckets (2)</span>
    <span>
      <button class="btn-dark">Create new Bucket</button>
    </span>
  </div>

  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
