.wrapper {
  background-color: white;
  padding: 20px;
}

.all-buckets-and-btn {
  display: flex;
  justify-content: space-between;
  height: 44px;

}

.all-buckets-and-btn a {
  margin-top: -7px;
}

.bucket-row {
  cursor: pointer;
}
.bucket-row:hover {
  background-color: #F5F5F5;
}
