<div class="wrapper">
  <div class=" all-buckets-and-btn">
    <span>All Buckets ({{ bucketCount }})</span>
    <span>
      <a
        *ngIf="showCreateBucketBtn"
        routerLink="new"
        class="btn btn-dark"
        >Create new Bucket</a>
    </span>
  </div>

  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bucket of buckets">
          <td>{{ bucket.name }}</td>
          <td>{{ bucket.location.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
