
h1 {
  margin: 26px 0px;
}

.nav-item a, .nav-item a:hover {
  color: #333;
}

.table {
  margin-top: 16px;
}

.tabs-body {
  background-color: white;
  padding: 21px;
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.header {
  display: flex;
  justify-content: space-between;
}

form {
  visibility: hidden;
}

.selected-row {
  background-color: lightblue;
}

.tabs-wrapper {
  position: relative;
}

.delete-bucket-btn {
  position: absolute;
  right: 0;
}

.row {
  margin: 7px;
  font-size: 1.1em;
}
