<div class="wrapper">
  <h1>{{ bucket.name }}</h1>
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Details</a>
      </li>
    </ul>
    <div class="tabs-body">
      <div class="header">
        <h5>All Files ({{ bucketObjects.length }})</h5>
        <div class="buttons">
          <button class="btn btn-dark">Delete Object</button>
          <button class="btn btn-dark" (click)="openFileModal()">Upload Object</button>
        </div>
      </div>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Last modified</th>
            <th scope="col">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let bucketObject of bucketObjects"
            class="bucket-row">
              <td>{{ bucketObject.name }}</td>
              <td>{{ bucketObject.modified }}</td>
              <td>{{ bucketObject.size }}</td>
            </tr>
        </tbody>
      </table>

      <form (ngSubmit)="onSubmit()" #fileForm="ngForm">
        <input
          ngModel
          name="file"
          type="file"
          class="btn btn-dark"
          id="uploadFile"
          #fileInput
          (change)="fileChange($event)"
          >
          <input type="submit" id="submit-button">
      </form>
    </div>
</div>
