h3 {
  background-color: black;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.logout {
  cursor: pointer;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h3 a, h3 a:hover {
  color: lightblue;
  text-decoration: none;
}
