/* You can add global styles to this file, and also import other style files */

body {
  background-color: lightblue;
}

.btn {
  border-radius: 0;
  background-color: black;
}

.table-row {
  cursor: pointer;
}
.table-row:hover {
  background-color: #F5F5F5;
}
